<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>language</key>
	<array>
		<string>English-EN</string>
		<string>日本語-JA</string>
		<string>Español-ES</string>
		<string>Português-PO</string>
	</array>
	<key>displayText</key>
	<dict>
		<key>pubs</key>
		<dict>
			<key>EN</key>
			<string>Placements</string>
			<key>JA</key>
			<string>出版物</string>
		</dict>
		<key>vids</key>
		<dict>
			<key>EN</key>
			<string>Videos</string>
			<key>JA</key>
			<string>ビデオ</string>
		</dict>
		<key>time</key>
		<dict>
			<key>EN</key>
			<string>Hours</string>
			<key>JA</key>
			<string>時間</string>
		</dict>
		<key>rvs</key>
		<dict>
			<key>EN</key>
			<string>Return Visits</string>
			<key>JA</key>
			<string>再訪問</string>
		</dict>
		<key>bss</key>
		<dict>
			<key>EN</key>
			<string>Bible Studies</string>
			<key>JA</key>
			<string>聖書研究</string>
		</dict>
	</dict>
	<key>month</key>
	<dict>
		<key>1</key>
		<dict>
			<key>en</key>
			<string>January</string>
			<key>ja</key>
			<string>一月</string>
		</dict>
		<key>2</key>
		<dict>
			<key>en</key>
			<string>February</string>
			<key>ja</key>
			<string>二月</string>
		</dict>
		<key>3</key>
		<dict>
			<key>en</key>
			<string>March</string>
			<key>ja</key>
			<string>三月</string>
		</dict>
		<key>4</key>
		<dict>
			<key>en</key>
			<string>April</string>
			<key>ja</key>
			<string>四月</string>
		</dict>
		<key>5</key>
		<dict>
			<key>en</key>
			<string>May</string>
			<key>ja</key>
			<string>五月</string>
		</dict>
		<key>6</key>
		<dict>
			<key>en</key>
			<string>June</string>
			<key>ja</key>
			<string>六月</string>
		</dict>
		<key>7</key>
		<dict>
			<key>en</key>
			<string>July</string>
			<key>ja</key>
			<string>7月</string>
		</dict>
		<key>8</key>
		<dict>
			<key>en</key>
			<string>August</string>
			<key>ja</key>
			<string>8月</string>
		</dict>
		<key>9</key>
		<dict>
			<key>en</key>
			<string>September</string>
			<key>ja</key>
			<string>9月</string>
		</dict>
		<key>10</key>
		<dict>
			<key>en</key>
			<string>October</string>
			<key>ja</key>
			<string>10月</string>
		</dict>
		<key>11</key>
		<dict>
			<key>en</key>
			<string>November</string>
			<key>ja</key>
			<string>11月</string>
		</dict>
		<key>12</key>
		<dict>
			<key>en</key>
			<string>December</string>
			<key>ja</key>
			<string>12月</string>
		</dict>
	</dict>
	<key>defaultData</key>
	<dict>
		<key>user_goal</key>
		<dict>
			<key>New item</key>
			<string></string>
		</dict>
	</dict>
	<key>interfaceConfig</key>
	<dict>
		<key>overview</key>
		<array>
			<string>Monthy Goal/lblCell</string>
			<string>Placements/dispCell</string>
			<string>Video/dispCell</string>
			<string>Hours/dispCell</string>
			<string>Return Visits/dispCell</string>
			<string>Bible Studies/dispCell</string>
		</array>
	</dict>
	<key>mainMenuDisp</key>
	<array>
		<string>thisMonth/monthCell</string>
		<string>time/timeProgCell/tot-hours/time</string>
		<string>non/breakCell</string>
		<string>pubs/dispCell2/tot-placements/pubs</string>
		<string>vids/dispCell2/tot-videos/vids</string>
		<string>rvs/dispCell2/tot-returnVisits/contacts</string>
		<string>bss/dispCell2/tot-bibleStudies/bs</string>
		<string>timesy/dispServiceYear/tot-hours/time</string>
		<string>daysLeft/uncategorizedDispCell/$dat-daysLeft</string>
		<string>non/breakCell</string>
		<string>devContact/buttonCell/$devContact</string>
		<string>web/buttonCell/$visitWeb</string>
		<string>non/copyrightCell</string>
	</array>
	<key>mainMenuDispEmpty</key>
	<array>
		<string>null/addNewCell/nil/</string>
	</array>
	<key>inputDatVal</key>
	<array>
		<string>dateInput/dateInputCell/60</string>
		<string>refNotes/valueInputCell/150</string>
		<string>minRecord/questionCell/35</string>
		<string>time/editableCell/70/time</string>
		<string>pubs/editableCell/70/pubs</string>
		<string>vids/editableCell/70/vids</string>
		<string>rvs/editableCell/70/contacts</string>
		<string>bss/editableCell/70/bs</string>
	</array>
	<key>datEditVals</key>
	<array>
		<string>dateInput/dateInputCell/60</string>
		<string>refNotes/valueInputCell/120</string>
		<string>time/editableCell/70/time</string>
		<string>pubs/editableCell/70/pubs</string>
		<string>vids/editableCell/70/vids</string>
		<string>rvs/editableCell/70/contacts</string>
		<string>bss/editableCell/70/bs</string>
	</array>
	<key>dateRange</key>
	<string>2017~2022</string>
	<key>saveDatRef</key>
	<string>dat-01-2018</string>
	<key>//</key>
	<string>Date range requires update/maintentance to increase useability</string>
	<key>notifications</key>
	<dict>
		<key>notificationDefaultTitle</key>
		<dict>
			<key>en</key>
			<string>MyMinistry Reminder</string>
			<key>ja</key>
			<string>MyMinistry リマインダー</string>
		</dict>
		<key>reportReminder</key>
		<dict>
			<key>en</key>
			<string>Have you submitted your Field Service Report?</string>
			<key>ja</key>
			<string>新しい月に入りました！奉仕報告を提出してください。</string>
		</dict>
		<key>dailyBibleReading</key>
		<dict>
			<key>en</key>
			<string>Time for daily bible reading!</string>
			<key>ja</key>
			<string>毎日の聖書通読の時間となりました!</string>
		</dict>
	</dict>
	<key>user_dat</key>
	<array>
		<dict>
			<key>month</key>
			<string>01-2018</string>
			<key>entries</key>
			<array>
				<dict>
					<key>dat-pub</key>
					<integer>0</integer>
					<key>dat-vid</key>
					<integer>0</integer>
					<key>dat-time</key>
					<integer>0</integer>
					<key>dat-rv</key>
					<integer>0</integer>
					<key>dat-bs</key>
					<integer>0</integer>
					<key>dat-notes</key>
					<string>Get this thing done!</string>
					<key>dat-rdate</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>bgImageURL</key>
	<dict>
		<key>m1</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m1.png</string>
		<key>m2</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m2.png</string>
		<key>m3</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m3.png</string>
		<key>m4</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m4.png</string>
		<key>m5</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m5b.png</string>
		<key>m6</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m6.png</string>
		<key>m7</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m7.png</string>
		<key>m8</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m8.png</string>
		<key>m9</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m9.png</string>
		<key>m10</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m10.png</string>
		<key>m11</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m11.png</string>
		<key>m12</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m12.png</string>
		<key>m13</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m13.png</string>
		<key>m14</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m14.png</string>
		<key>m15</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m15.png</string>
		<key>m16</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m16.png</string>
		<key>m17</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m17.png</string>
		<key>m18</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m18.png</string>
		<key>m19</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m19.png</string>
		<key>m20</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m20.png</string>
		<key>m21</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m21.png</string>
		<key>m22</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m22.png</string>
		<key>m23</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m23.png</string>
		<key>m24</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m24.png</string>
		<key>m25</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m25.png</string>
		<key>m26</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m26.png</string>
		<key>m27</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m27.png</string>
		<key>m28</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m28.png</string>
		<key>m29</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m29.png</string>
		<key>m30</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m30.png</string>
		<key>m31</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m31.png</string>
	</dict>
	<key>bgImageStars</key>
	<dict>
		<key>m1</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m1.png</string>
		<key>m2</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m2.png</string>
		<key>m3</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m3.png</string>
		<key>m4</key>
		<string>https://kojigames.files.wordpress.com/2018/03/m4.png</string>
	</dict>
</dict>
</plist>
